/*body*/
.promo-row {
    background-color:white;
}

.hero, .home-hero {
    width:100%;
    height:100%;
    padding:0px;
    margin-left:0px;
}

.hero-text {
    width:100%;
    text-align:center;
    color:black;
}

.hero h1, .home-hero.lead {
    overflow:hidden;
    max-height:90px;
    background-color: white;
    color:#939393;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight:300;
    line-height: 1.4;
}

.hero-cta {
    margin-top:20%;
    margin-bottom:25%;
    display:block;
}

.hero-cta-link {
    border: 2px solid white;
    padding: 20px;
    color:white;
    font-size:21px;
    font-weight:300;
    line-height: 1.4;
}

.hero-cta-link:hover {
    text-decoration: none;
    background-color: white;
    color: #939393;
}

.hero img {
    width:100%;
    position:fixed;
    z-index:-1;
}

body {
    background-color:#939393;
}


/*header and navbar*/

.logo {
    text-decoration: none;
}

.icon-bar {
    background-color: #939393;
}

.navbar, navbar-collapse {
    background-color:#939393;
    height: 70px;
}

.navcontainer{
    height: 70px;
}

.navbar-toggle {
    background-color: white;
}

.navbar-right {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-left: 125px;
}

.navbar-right>li>a {
    padding-top:4px;
    padding-bottom:4px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
    color: white;
    background-color: #939393;
}

.navbar-right>li:hover a {
    color: #939393;
    background-color:white;
}

.navbar-right>li:hover .dropdown-menu>li>a {
    color: white;
    background-color:#939393;
}

.navbar-right>li:hover .dropdown-menu>li>a:hover {
    background-color: white;
    color:#939393;
}

.has-submenu {
    position: absolute;
    display: inline-block;
}

.has-submenu:hover .dropdown-menu {
    display:block;
}

.dropdown-menu {
    text-align: center;
    position:absolute;
    display:none;
    background-color:#939393;
    box-shadow:none;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-top: 0px;
    min-width: 0px;
}

.navbar-collapse[aria-expanded="true"] .has-submenu:hover .dropdown-menu {
    display:none;
}


.navbar-collapse[aria-expanded="true"] .navbar-right {
    padding-left:0px;
    position: relative;
    overflow: visible;
    z-index: 99;
    text-align:center;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    width:100%;
}
.navbar-collapse[aria-expanded="true"] .navcontainer {
    height:100%;
    width:100%;
}

.navbar-collapse[aria-expanded="true"] .navbar-collapse {
    max-height:0px;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:0px;
    margin-left:0px;
    width:100%;
}
